**User Input**

In [3]:
car=input("Which type of rental car whould you like ")
print("Let me see if I found a " + car)

Which type of rental car whould you like toyota
Let me see if I found a toyota

In [8]:
Dinner = input("How many people are you ")
Dinner=int(Dinner) 
if Dinner>=8:
  print("They will wait for a Table")
else:
  print("Table is ready")

How many people are you 8
They will wait for a Table

While Loops

In [12]:
prompt= "\n Tell me somthing "
prompt += "\n press 'Quit' to end the proqram "
message= ''
while True:
  city = input(prompt)
  if city=='quit':
    break
  else:
    print('I love to go '+ city)

 Tell me somthing
 press 'Quit' to end the proqram paris
I love to go paris

 Tell me somthing
 press 'Quit' to end the proqram quit

In [22]:
teater="\nTell me your age "
teater+="\npress '0' to end the program "

while True:
  age=input(teater)
  age=int(age)
  if age==0:
    break
  if age>=13:
    print("15$")
  if age >=3 and age<13:
    print("10$")
  if age>0 and age<2:
    print("5$")

Tell me your age
press '0' to end the program 13
15$

Tell me your age
press '0' to end the program 4
10$

Tell me your age
press '0' to end the program 1
5$

Tell me your age
press '0' to end the program 0

**Functions**

In [23]:
def book(book_name):
  print("My favoriate Book name is "+ book_name)


book("7 Wonders")

My favoriate Book name is 7 Wonders

In [39]:
%%time
def city(city_name):
  message="Hello " +city_name
  return message

Name=city("Lahore")
print(Name)

Hello Lahore
CPU times: user 130 Âµs, sys: 0 ns, total: 130 Âµs
Wall time: 122 Âµs

In [25]:
def magician_list(xyz):
  for i in xyz:
    print(i)

magicianList=['A','B','C','D']
magician_list(magicianList)

A
B
C
D

In [26]:
def new(xyz):
  for i in xyz:
    print("Great "+ i)
new(magicianList)

Great A
Great B
Great C
Great D

Union

In [30]:
A={'Asad',2,'usman',3,'Ejaz',10,'Zeshan',11}
B={'Zeshan',2,'Asad',3,'Imran',5,'riaz',6}

print(A|B)

{2, 3, 5, 6, 'usman', 10, 11, 'Imran', 'Asad', 'Zeshan', 'Ejaz', 'riaz'}

**Intersection**

In [31]:
A={'Asad',2,'usman',3,'Ejaz',10,'Zeshan',11}
B={'Zeshan',2,'Asad',3,'Imran',5,'riaz',6}

print(A&B)

{2, 3, 'Asad', 'Zeshan'}

Difference

In [33]:
A={'Asad',2,'usman',3,'Ejaz',10,'Zeshan',11}
B={'Zeshan',2,'Asad',3,'Imran',5,'riaz',6}

print(A-B)
print(B-A)

{10, 11, 'Ejaz', 'usman'}
{'Imran', 5, 6, 'riaz'}

Symentric Difference

In [38]:
%%time
A={'Asad',2,'usman',3,'Ejaz',10,'Zeshan',11}
B={'Zeshan',2,'Asad',3,'Imran',5,'riaz',6}

print(A^B)

{5, 6, 'usman', 10, 11, 'Imran', 'Ejaz', 'riaz'}
CPU times: user 495 Âµs, sys: 0 ns, total: 495 Âµs
Wall time: 441 Âµs

Enumerate

In [37]:
%%time
Weekdays=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

for i, j in enumerate(Weekdays,1):
  print(f"{i}: {j}")

1: Monday
2: Tuesday
3: Wednesday
4: Thursday
5: Friday
6: Saturday
7: Sunday
CPU times: user 1.21 ms, sys: 16 Âµs, total: 1.23 ms
Wall time: 994 Âµs