3.1 List Naming

In [2]:
names=['Usman','Ejaz','Zeshan','Shah']
print(names[0])
print(names[1])
print(names[2])
print(names[3])

Usman
Ejaz
Zeshan
Shah

3.2 Greetings

In [4]:
names=['Usman','Ejaz','Zeshan','Shah']
print('My friend name is '+ names[0].title())
print('My friend name is '+ names[1].title())
print('My friend name is '+ names[2].title())
print('My friend name is '+ names[3].title())

My friend name is Usman
My friend name is Ejaz
My friend name is Zeshan
My friend name is Shah

3.3 Own List

In [6]:
own=['Bike','car','cycle']
print('I like to buy '+ own[0].title())
print('I like to drive my '+ own[1].title())
print('I like '+ own[2].title()+ ' in my Childhood')

I like to buy Bike
I like to drive my Car
I like Cycle in my Childhood

3.4 Guest List

In [10]:
guest=['shah','arslan','asad']
print('I invite you to the dinner '+ guest[0].title() )
print('I invite you to the dinner '+ guest[1].title() )
print('I invite you to the dinner '+ guest[2].title() )

I invite you to the dinner Shah
I invite you to the dinner Arslan
I invite you to the dinner Asad

3.5 changing

In [14]:
guest=['shah','arslan','asad']
print('He will not come ' + guest[2])
guest[2]='saqib'
print(guest)

He will not come asad
['shah', 'arslan', 'saqib']

3.6 More guest

In [21]:
guest=['shah','arslan','asad']
print(guest[0].title() + ' I found a bigger dinner table')
print(guest[1].title() + ' I found a bigger dinner table')
print(guest[2].title() + ' I found a bigger dinner table')
guest.insert(0,'kafayat')
guest.insert(2,'zohaib')
guest.append('seemab')
print(guest)
print('I invite you to the dinner '+ guest[0].title() )
print('I invite you to the dinner '+ guest[1].title() )
print('I invite you to the dinner '+ guest[2].title() )
print('I invite you to the dinner '+ guest[3].title() )
print('I invite you to the dinner '+ guest[4].title() )
print('I invite you to the dinner '+ guest[5].title() )

Shah I found a bigger dinner table
Arslan I found a bigger dinner table
Asad I found a bigger dinner table
['kafayat', 'shah', 'zohaib', 'arslan', 'asad', 'seemab']
I invite you to the dinner Kafayat
I invite you to the dinner Shah
I invite you to the dinner Zohaib
I invite you to the dinner Arslan
I invite you to the dinner Asad
I invite you to the dinner Seemab

3.7 Shrinking guest list

In [34]:
guest=['kafayat','shah','zohab','arslan','asad','seemab']
cancel=guest.pop()
print("sorry for not inviting "+ cancel)
cancel1=guest.pop()
print("sorry for not inviting "+ cancel1)
cancel2=guest.pop()
print("sorry for not inviting "+ cancel2)
cancel3=guest.pop()
print("sorry for not inviting "+ cancel3)
print('I invite you to the dinner '+ guest[0].title() )
print('I invite you to the dinner '+ guest[1].title() )
del guest[1]
del guest[0]
print(guest)

sorry for not inviting seemab
sorry for not inviting asad
sorry for not inviting arslan
sorry for not inviting zohab
I invite you to the dinner Kafayat
I invite you to the dinner Shah
[]

3.8 Seeking the world

In [53]:
places=['england','france','turkey','spain','Newyork']
places1=['england','france','turkey','spain','Newyork']
print(places)
print(sorted(places))
print(places)
places.sort(reverse=True)
print(places)
print(places1)
places1.reverse()
print(places1)
places1.reverse()
print(places1)
places1.sort()
print(places1)
places1.sort(reverse=True)
print(places1)

['england', 'france', 'turkey', 'spain', 'Newyork']
['Newyork', 'england', 'france', 'spain', 'turkey']
['england', 'france', 'turkey', 'spain', 'Newyork']
['turkey', 'spain', 'france', 'england', 'Newyork']
['england', 'france', 'turkey', 'spain', 'Newyork']
['Newyork', 'spain', 'turkey', 'france', 'england']
['england', 'france', 'turkey', 'spain', 'Newyork']
['Newyork', 'england', 'france', 'spain', 'turkey']
['turkey', 'spain', 'france', 'england', 'Newyork']

Dinner Guest

In [54]:
len(guest)

0

3.10 Every Function

In [67]:
new=['Lahore','Islamabad','Faisalabad','Peshawar']
print(new)
print(sorted(new))
new.reverse()
print(new)
new.reverse()
print(new)
popped=new.pop()
print(popped)
print(new)
del new[0]
print(new)
new.insert(1,'Naran')
print(new)

['Lahore', 'Islamabad', 'Faisalabad', 'Peshawar']
['Faisalabad', 'Islamabad', 'Lahore', 'Peshawar']
['Peshawar', 'Faisalabad', 'Islamabad', 'Lahore']
['Lahore', 'Islamabad', 'Faisalabad', 'Peshawar']
Peshawar
['Lahore', 'Islamabad', 'Faisalabad']
['Islamabad', 'Faisalabad']
['Islamabad', 'Naran', 'Faisalabad']

3.11 Index error

In [69]:
new1=['a','b']
print(new1)
print(new1[2])

['a', 'b']

IndexError: ignored