Pizaa

In [5]:
pizza=['BBQ Chicken Pizza','Veggie Pizza','Pepperoni Pizza']
for piza in pizza:
  print('I like ' + piza)
print('I really love pizaa')

I like BBQ Chicken Pizza
I like Veggie Pizza
I like Pepperoni Pizza
I really love pizaa

Animals

In [7]:
animals=['dog','cat','monkey']
for ani in animals:
  print('A '+ ani.title() + ' whould be a great pet')
print('Any of these animals whould be a great pet')

A Dog whould be a great pet
A Cat whould be a great pet
A Monkey whould be a great pet
Any of these animals whould be a great pet

1 to 20

In [8]:
for i in range(1,20):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

Branch

In [23]:
restaurent= ('tea','Ice cream','Cake','chocolate','sandwich')
for i in restaurent:
  print(i)

restaurent=('Green tea','shake','Cake','chocolate','sandwich')
print("\nmodified list of items\n")
for i in restaurent:
  print(i)

tea
Ice cream
Cake
chocolate
sandwich

modified list of items

Green tea
shake
Cake
chocolate
sandwich

List range

In [ ]:
millions= range(1,1000001)
for million in millions:
    print(million)

Min, Max, Sum

In [29]:
millions= range(1,1000001)
print(min(millions))
print(max(millions))
print(sum(millions))

1
1000000
500000500000

Odd number

In [31]:
odd=range(1,20,2)
for i in odd:
  print(i)

1
3
5
7
9
11
13
15
17
19

Multiple of 3

In [32]:
multi=range(3,30)
for i in multi:
  if i%3==0:
    print(i)

3
6
9
12
15
18
21
24
27

Cube

In [34]:
Cube=range(1,10)
for i in Cube:
  answer=i**3
  print(answer)

1
8
27
64
125
216
343
512
729