In [2]:
with open('Python.txt') as file_object:
  contents = file_object.read()
  print(contents)

Hello My name is asad Ullah
I learn
Functions
Variable
Conditions
File handling

In [3]:
filename = 'Python.txt'
with open(filename) as file_object:
  for line in file_object:
    print(line)

Hello My name is asad Ullah

I learn

Functions

Variable

Conditions

File handling

In [4]:
filename = 'Python.txt'
with open(filename) as file_object:
  lines = file_object.readlines()
  for line in lines:
    print(line.rstrip())

Hello My name is asad Ullah
I learn
Functions
Variable
Conditions
File handling

**Replacing**

In [7]:
with open('Python.txt') as file_object:
  contents = file_object.read()
  print(contents.replace('Functions','Enumerate Function'))

Hello My name is asad Ullah
I learn
Enumerate Function
Variable
Conditions
File handling

**File Writing**

In [14]:
filename = 'Python.txt'

with open(filename, 'w') as file_object:
  name=input('What is your name ')
  file_object.write(name)
with open('Python.txt') as file_object:
  contents = file_object.read()
  print(contents)

What is your name asad
asad

Try Except Finally

In [15]:
print("Give me two numbers, and I'll divide them.")

print("Enter 'q' to quit.")
while True:
  first_number = input("\nFirst number: ")
  if first_number == 'q':
    break
  second_number = input("Second number: ")
  if second_number == 'q':
    break
  answer = int(first_number) / int(second_number)
  print(answer)

Give me two numbers, and I'll divide them.
Enter 'q' to quit.

First number: 5
Second number: 2
2.5

First number: q

In [16]:
x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

Exception: ignored

In [17]:
try:
  f = open("Python.txt")
  try:
    f.write("New adding")
  except:
    print("Something went wrong when writing to the file")
  finally:
    f.close()
except:
  print("Something went wrong when opening the file")

Something went wrong when writing to the file

In [18]:
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

-1
The 'try except' is finished