Classes

In [1]:
class MyClass:
  x = 5

In [2]:
p1 = MyClass()
print(p1.x)

5

In [3]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Asad", 23)

print(p1.name)
print(p1.age)

Asad
23

In [4]:
class Person:
    def __init__(self, name, profession):
        self.name = name
        self.profession = profession


    def show(self):
        print('Name:', self.name, 'Profession:', self.profession)

 
    def work(self):
        print(self.name, 'working as a', self.profession)


new = Person('Asad', 'Software Engineer')


new.show()
new.work()

Name: Asad Profession: Software Engineer
Asad working as a Software Engineer

In [6]:
class Fruit:
    def __init__(self, name, color):
        self.name = name
        self.color = color

    def show(self):
        print("Fruit is", self.name, "and Color is", self.color)

obj = Fruit("Apple", "red")

del obj.name

#print(obj.name)

Inheritance

In [7]:

class Person(object):
   
  def __init__(self, name, id):
    self.name = name
    self.id = id
 

  def Display(self):
    print(self.name, self.id)
 

emp = Person("Asad", 23)
emp.Display()

Asad 23

In [8]:
class Vehicle:
    def Vehicle_info(self):
        print('Inside Vehicle class')
class Car(Vehicle):
    def car_info(self):
        print('Inside Car class')
car = Car()
car.Vehicle_info()
car.car_info()

Inside Vehicle class
Inside Car class

In [9]:
class Vehicle:
    def Vehicle_info(self):
        print('Inside Vehicle class')
class Car(Vehicle):
    def car_info(self):
        print('Inside Car class')

class SportsCar(Car):
    def sports_car_info(self):
        print('Inside SportsCar class')

s_car = SportsCar()
s_car.Vehicle_info()
s_car.car_info()
s_car.sports_car_info()

Inside Vehicle class
Inside Car class
Inside SportsCar class