In [23]:
import pandas as pd
import csv
import json

In [25]:
pip install beautifulsoup4 html5lib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (4.11.2)
Requirement already satisfied: html5lib in /usr/local/lib/python3.9/dist-packages (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4) (2.4)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.9/dist-packages (from html5lib) (1.16.0)

In [27]:
pip install lxml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (4.9.2)

In [2]:
new=pd.read_csv("practise.csv")

In [3]:
new

                1   2   3   4
0     Hello World NaN NaN NaN
1  I'm Asad Ullah NaN NaN NaN

In [5]:
new=pd.read_table('practise.csv', header=None)
new

                0
0         1,2,3,4
1     Hello World
2  I'm Asad Ullah

In [6]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('practise.csv', names=names, index_col='message')

                      a    b    c    d
message
NaN                   1  2.0  3.0  4.0
NaN         Hello World  NaN  NaN  NaN
NaN      I'm Asad Ullah  NaN  NaN  NaN

In [10]:
a=open('practise.csv')
b=csv.reader(a)
for i in b:
  print(i)

['1', '2', '3', '4']
['Hello World']
["I'm Asad Ullah"]

JSON

In [11]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [17]:
new=json.loads(obj)
new

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [19]:
siblings = pd.DataFrame(new['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38